# .DS_Store is ignored globally
.DS_Store

# 1. Ignore everything by default
*

# 2. Un-ignore the .gitignore file itself
!.gitignore

# 3. Un-ignore the .Rproj file (keep the project file, ignore the user settings folder)
!*.Rproj

# 4. Un-ignore the 'analysis' folder
!analysis/
!analysis/**
# BUT re-ignore the user settings inside it:
analysis/.Rproj.user/

# 5. Un-ignore the 'data' folder
!data/
!data/**

# 6. Un-ignore the 'annotated' folder
!annotated/
!annotated/**

# 7. Globally re-ignore specific files
.Rhistory

analysis/main-analysis.html