# .DS_Store is ignored globally
.DS_Store

# 1. Ignore everything by default
*

# 2. Un-ignore the .gitignore file itself
!.gitignore

# 3. Un-ignore the .Rproj file (keep the project file, ignore user settings)
!*.Rproj

# 4. Un-ignore key project folders
!analysis/
!analysis/**
!data/
!data/**
!annotated/
!annotated/**

# 5. Re-ignore temporary files, local user settings, and heavy image binaries
.Rhistory
.Rproj.user
analysis/.Rproj.user/
*.tiff